#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  text-align: center;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}
