body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}
